
#wrapper div div{
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}
#wrapper div div input{
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    /*opacity: 0.8;*/
}
.disappear{
    opacity: 1;
}
.disappearChange{
    opacity: 0;
}
.red{
    background-color: red!important;
}